

body{
  background-color: rgb(87, 237, 175);
  display: flex;
  justify-content: center;  
  align-items: center;  
  height: 100vh;
}
Card{
  /* flex: 5;; */
height: 800px;
width: 80px;
/* margin: 0 auto; */

}